body {
  background: linear-gradient(to bottom right, #3D505D ,#5A768A);
}

#container {
  padding:20px;
  /*display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 5fr);
  grid-gap: 1em;*/
}

.cards {
  background-color: #FBD8B0;
  height: 2em;
  width: 2em;
  padding: 50px;
  margin: 80px;
  float: left;
  border-radius: 10%;
  text-align:center;
  -webkit-box-shadow: 10px 10px 24px 3px rgba(0,0,0,0.15);
  -moz-box-shadow: 10px 10px 24px 3px rgba(0,0,0,0.15);
  box-shadow: 10px 10px 24px 3px rgba(0,0,0,0.15);
  /*grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;*/
}

.hidden {
  text-align: center;
  visibility: hidden;
}
